.Button{
 display: inline-block;
 padding: 10px 20px;
 border-radius: 4px;
 border: 1px solid #ccc;
 color: #000;
 margin-right: 10px;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 12px;
} 

.Button:focus {
   outline: 0;
}

.Button:active {
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.479), 1px 1px 1px rgba(255, 255, 255, 0.322);
 }


 .Button:disabled {
     background: #ccc;
     color: #000;
     cursor: not-allowed;
 }


 .success{
    background: rgba(136, 255, 0, 0.75);
}

.error{
    background: rgba(251, 0, 0, 1);
}

 .primary{
    background: #2884f6;
    color: #fff;

 }


